---
import { articles } from "../libraries/articles";
import { Icon } from "astro-icon/components";

type Props = {
  /**
   * The internal slug of the reference. It must be a valid slug of an article loaded in the site.
   * @see {@link articles} for the list of available articles.
   */
  slug: string;
};

const { slug } = Astro.props;
const found = articles.find((article) => article.slug === slug);

if (!found) {
  throw new Error(`The article with slug "${slug}" was not found.`);
}
---

<span>
  <Icon name="document" />
  <a href={`/${slug}`}>{found.frontmatter.title}</a>
</span>

<style>
  [data-icon="document"] {
    vertical-align: sub;
    height: 1.1em;
    color: rgb(158, 120, 255);
  }
</style>
