---
import { articles } from "../libraries/articles";

type Props = {
  /**
   * The internal slug of the reference. It must be a valid slug of an article loaded in the site.
   * @see {@link articles} for the list of available articles.
   */
  slug: string;
};

const { slug } = Astro.props;
const found = articles.find((article) => article.slug === slug);

if (!found) {
  throw new Error(`The article with slug "${slug}" was not found.`);
}
---

<svg viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M7.49992 8.56466H8.33325C8.55427 8.56466 8.76623 8.47686 8.92251 8.32058C9.07879 8.1643 9.16658 7.95234 9.16658 7.73133C9.16658 7.51031 9.07879 7.29835 8.92251 7.14207C8.76623 6.98579 8.55427 6.89799 8.33325 6.89799H7.49992C7.2789 6.89799 7.06694 6.98579 6.91066 7.14207C6.75438 7.29835 6.66659 7.51031 6.66659 7.73133C6.66659 7.95234 6.75438 8.1643 6.91066 8.32058C7.06694 8.47686 7.2789 8.56466 7.49992 8.56466ZM7.49992 10.2313C7.2789 10.2313 7.06694 10.3191 6.91066 10.4754C6.75438 10.6317 6.66659 10.8436 6.66659 11.0647C6.66659 11.2857 6.75438 11.4976 6.91066 11.6539C7.06694 11.8102 7.2789 11.898 7.49992 11.898H12.4999C12.7209 11.898 12.9329 11.8102 13.0892 11.6539C13.2455 11.4976 13.3333 11.2857 13.3333 11.0647C13.3333 10.8436 13.2455 10.6317 13.0892 10.4754C12.9329 10.3191 12.7209 10.2313 12.4999 10.2313H7.49992ZM16.6666 7.68133C16.6579 7.60477 16.6411 7.52935 16.6166 7.45633V7.38133C16.5765 7.29564 16.5231 7.21688 16.4583 7.148L11.4583 2.14799C11.3894 2.08318 11.3106 2.02973 11.2249 1.98966C11.2 1.98613 11.1748 1.98613 11.1499 1.98966C11.0653 1.94111 10.9718 1.90995 10.8749 1.89799H5.83325C5.17021 1.89799 4.53433 2.16139 4.06549 2.63023C3.59664 3.09907 3.33325 3.73495 3.33325 4.39799V16.0647C3.33325 16.7277 3.59664 17.3636 4.06549 17.8324C4.53433 18.3013 5.17021 18.5647 5.83325 18.5647H14.1666C14.8296 18.5647 15.4655 18.3013 15.9344 17.8324C16.4032 17.3636 16.6666 16.7277 16.6666 16.0647V7.73133C16.6666 7.73133 16.6666 7.73133 16.6666 7.68133ZM11.6666 4.73966L13.8249 6.89799H12.4999C12.2789 6.89799 12.0669 6.8102 11.9107 6.65392C11.7544 6.49764 11.6666 6.28568 11.6666 6.06466V4.73966ZM14.9999 16.0647C14.9999 16.2857 14.9121 16.4976 14.7558 16.6539C14.5996 16.8102 14.3876 16.898 14.1666 16.898H5.83325C5.61224 16.898 5.40028 16.8102 5.244 16.6539C5.08772 16.4976 4.99992 16.2857 4.99992 16.0647V4.39799C4.99992 4.17698 5.08772 3.96502 5.244 3.80874C5.40028 3.65246 5.61224 3.56466 5.83325 3.56466H9.99992V6.06466C9.99992 6.7277 10.2633 7.36359 10.7322 7.83243C11.201 8.30127 11.8369 8.56466 12.4999 8.56466H14.9999V16.0647ZM12.4999 13.5647H7.49992C7.2789 13.5647 7.06694 13.6525 6.91066 13.8087C6.75438 13.965 6.66659 14.177 6.66659 14.398C6.66659 14.619 6.75438 14.831 6.91066 14.9873C7.06694 15.1435 7.2789 15.2313 7.49992 15.2313H12.4999C12.7209 15.2313 12.9329 15.1435 13.0892 14.9873C13.2455 14.831 13.3333 14.619 13.3333 14.398C13.3333 14.177 13.2455 13.965 13.0892 13.8087C12.9329 13.6525 12.7209 13.5647 12.4999 13.5647Z"
  ></path>
</svg>
<a href={`/${slug}`}>{found.frontmatter.title}</a>
<style>
  svg {
    vertical-align: sub;
    height: 1.1em;
    fill: rgb(158, 120, 255);
  }
</style>
