---
import Ref from "./Ref.astro";
import { getPhrases } from "../phrases";
import { getLocaleFromUrl } from "../utils/locale";

type Props = {
  /**
   * The internal slugs of the articles to be displayed in the "See also" section.
   * They must be valid slugs of articles loaded in the site.
   * @see 'terms' collection in the 'src/content' directory.
   */
  slugs: string[];
};

const { slugs } = Astro.props;

if (slugs.length === 0) {
  throw new Error('The "slugs" prop must contain at least one slug.');
}

const locale = getLocaleFromUrl(Astro.url);
const phrases = getPhrases(locale);
---

<h2>{phrases.content.see_also}</h2>
<ul class="list">
  {
    slugs.map((slug) => (
      <li>
        <Ref slug={slug} />
      </li>
    ))
  }
</ul>

<style>
  body ul.list {
    list-style: none;
    padding-inline-start: 0;
  }
</style>
