---
import { Icon } from "astro-icon/components";

const isExternal = /^https:\/\//.test(Astro.props.href);
const isAnchor = Astro.props.href.startsWith("#");

if (!isExternal && !isAnchor) {
  throw new Error(
    `The href "${Astro.props.href}" must be an external HTTPS URL or an anchor.`,
  );
}
---

<span>
  {isExternal &&
    <Icon name="external-link" />
    <a target="_blank" rel="noopener" {...Astro.props}><slot /></a>
  }
  {isAnchor &&
    <a {...Astro.props}><slot /></a>
  }
</span>

<style>
  [data-icon="external-link"],
  [data-icon="hyperlink"] {
    vertical-align: sub;
    height: 1.1em;
    color: rgb(158, 120, 255);
  }
</style>
