---
import Layout from "../layouts/Layout.astro";
import Topbar from "../components/Topbar.astro";
import FancyHr from "../components/FancyHr.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="404" description="Page not found">
  <Topbar />
  <FancyHr />
  <main>
    <center>
      <h1>404</h1>
      <p>Page not found</p>
    </center>
    <Footer />
  </main>
</Layout>

<style>
  center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
  }

  h1 {
    font-size: 4rem;
    margin: 0;
  }

  p {
    margin-block-start: 0.5em;
  }
</style>
