---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Topbar from "../components/Topbar.astro";
import { articles } from "../libraries/articles";
import Footer from "../components/Footer.astro";
import BackgroundBanner from "../components/BackgroundBanner.astro";

const sections = articles
  .slice()
  .sort((a, b) => a.frontmatter.title.localeCompare(b.frontmatter.title))
  .reduce(
    (acc, article) => {
      const firstLetter = article.frontmatter.title[0]?.toUpperCase();

      if (!firstLetter) {
        return acc;
      }

      if (!acc[firstLetter]) {
        acc[firstLetter] = [];
      }
      acc[firstLetter].push(article);
      return acc;
    },
    {} as Record<string, typeof articles>,
  );
---

<Layout>
  <Topbar />
  <main>
    <header>
      <BackgroundBanner />
      <h1><span class="purple">Auth</span> Wiki</h1>
      <p>
        Explore and find clear definitions of key glossaries related to
        authentication, authorization, and identity management. Work with
        open-standards like OpenID Connect, OAuth 2.0, and SAML 2.0.
      </p>
    </header>
    <div class="content">
      {
        Object.entries(sections).map(([letter, articles]) => (
          <section>
            <h2>{letter}</h2>
            <div class="cards">
              {articles.map((article) => (
                <Card {...article} />
              ))}
            </div>
          </section>
        ))
      }
    </div>
    <Footer />
  </main>

  <style>
    /* Load fonts */
    @import url("https://fonts.googleapis.com/css2?family=Cantata+One&display=swap");
    html,
    body {
      overflow-x: hidden;
    }
    header {
      position: relative;
      padding: var(--content-padding);
    }
    header p {
      max-width: 760px;
      font-size: 20px;
      line-height: 36px;
      margin: 0;
    }
    main {
      max-width: var(--content-max-width);
      margin: 0 auto;
    }
    h1 {
      margin-block-start: 200px;
      margin-block-end: var(--content-padding);
      font-size: 92px;
      line-height: 100px;
    }
    h1 span.purple {
      color: #ad4ffc;
    }
    h2 {
      font-family: "Cantata One", "Cantata One Placeholder", serif;
      font-size: 40px;
      font-weight: 400;
      line-height: 48px;
      margin: 80px 0 24px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      color: rgba(255, 255, 255, 0.7);
    }
    div.content {
      position: relative;
      height: min-content;
      padding: 0 var(--content-padding);
    }
    div.cards {
      margin: 0 auto;
      display: grid;
      gap: 24px;
      grid-auto-rows: min-content;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      justify-content: center;
      width: 100%;
    }
    @media (max-width: 810px) {
      h1 {
        margin-block-start: 100px;
        font-size: 72px;
        line-height: 80px;
      }
      div.cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
    }
  </style>
</Layout>
