---
import { Icon } from "astro-icon/components";
import { defaultLocale, getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url);
---

<a
  class="solid-button"
  href=`https://logto.io/${locale === defaultLocale ? "" : locale}?ref=auth-wiki`
  target="_blank"
  rel="noopener"
  aria-label="Designed by Logto"
>
  <span class="designed-by">Designed by</span>
  <Icon name="logto-logo" />
  <span>Logto</span>
</a>

<style>
  @media (max-width: 660px) {
    .designed-by {
      display: none;
    }
  }
</style>
