---
import { Icon } from "astro-icon/components";
import SolidA from "./SolidA.astro";
---

<SolidA
  href="https://logto.io/?ref=auth-wiki"
  target="_blank"
  rel="noopener"
  aria-label="Designed by Logto"
>
  <span class="designed-by">Designed by</span>
  <Icon name="logto-logo" />
  <span>Logto</span>
</SolidA>

<style>
  @media (max-width: 500px) {
    .designed-by {
      display: none;
    }
  }
</style>
