<header>
  <div class="container">
    <div class="horizon">
      <div class="glow"></div>
    </div>
    <div class="earth"></div>
    <div class="overlay"></div>
  </div>
  <div class="content">
    <slot />
  </div>
</header>
<style>
  header {
    padding: 40px;
    position: relative;
    text-align: center;
    min-height: 400px;
    overflow: hidden;
  }
  .content {
    position: relative;
  }
  .container {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    height: 50%;
  }
  .horizon {
    position: absolute;
    width: 160%;
    height: 60%;
    border-radius: 100% / 100%;
    background: #038bff;
    -webkit-filter: blur(30px);
    left: 50%;
    bottom: -25%;
    margin-left: -80%;
  }
  .horizon::before {
    content: "";
    position: absolute;
    left: 0;
    width: 81.25%;
    height: 70%;
    border-radius: 100% / 100%;

    background: #51afff;
    -webkit-filter: blur(30px);
    opacity: 0.6;

    margin-left: 9.375%;
  }
  .horizon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 32%;
    height: 20%;
    border-radius: 650px / 350px;

    background: #b0daff;
    -webkit-filter: blur(30px);
    opacity: 0.5;

    margin-left: 34%;
  }
  .horizon .glow {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100% / 100%;

    background: #215496;
    -webkit-filter: blur(200px);
    opacity: 0.7;

    top: -10%;
  }
  .earth {
    position: absolute;
    width: 150%;
    height: 200%;
    background: black;
    border-radius: 100% / 100%;

    left: -25%;
    bottom: -140%;
  }
  .earth::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100% / 100%;

    box-shadow: inset 0px 0px 62px 20px rgba(60, 105, 138, 0.85);
  }
  .earth::after {
    background-image: linear-gradient(
      to right,
      #000000 0%,
      rgba(0, 0, 0, 0) 50%,
      #000000 100%
    );
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100% / 100%;
  }
  .overlay {
    position: absolute;
    left: 0;
    bottom: -50%;
    width: 100%;
    height: 50%;
    background: black;
  }
</style>
