---
import ShareButton from "../components/ShareButton.astro";

type Props = {
  title: string;
  shareText?: string;
};

const { title, shareText } = Astro.props;
---

<aside class="share">
  <span>{shareText ?? "Share"}</span>
  <div>
    <ShareButton type="x" title={title} />
    <ShareButton type="reddit" title={title} />
    <ShareButton type="linked-in" title={title} />
    <ShareButton type="hacker-news" title={title} />
  </div>
</aside>

<style>
  aside.share {
    margin-block: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 24px;
    font-weight: 600;
  }
  aside.share div {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  @media (prefers-color-scheme: dark) {
    aside.share {
      color: #a9acac;
    }
  }
</style>
