---
import { Icon } from "astro-icon/components";
import Logo from "./Logo.astro";
import ByLogto from "./ByLogto.astro";
import { defaultLocale, getLocale } from "astro-i18n-aut";
import LanguageSelector from "./LanguageSelector.astro";

const locale = getLocale(Astro.url);
---

<div class="topbar">
  <a
    class="home"
    href={locale === defaultLocale ? "/" : `/${locale}`}
    aria-label="Go to homepage"
  >
    <Logo />
  </a>
  <div class="actions">
    <a
      class="solid-button"
      href="https://github.com/logto-io/auth-wiki"
      target="_blank"
      rel="noopener"
    >
      <Icon name="github" />
      <span class="github">GitHub</span>
    </a>
    <LanguageSelector class="select solid-button" />
    <ByLogto />
  </div>
</div>
<style>
  .topbar {
    position: relative;
    z-index: 100;
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px var(--content-padding);
    height: 70px;
    column-gap: 12px;
  }
  .topbar a.home {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .topbar .actions {
    display: flex;
    gap: 12px;
  }
  .select {
    border: none;
    border-inline-end: 12px solid transparent;
    height: 100%;
  }
  @media (max-width: 810px) {
    .topbar a.home :global(svg) {
      width: auto;
      height: 24px;
    }
  }
  @media (max-width: 600px) {
    .topbar .actions {
      gap: 8px;
    }
    span.github {
      display: none;
    }
  }
</style>
