---
import { Icon } from "astro-icon/components";
import Logo from "./Logo.astro";
import ByLogto from "./ByLogto.astro";
import SolidA from "./SolidA.astro";
---

<div class="topbar">
  <a class="home" href="/" aria-label="Go to homepage">
    <Logo />
  </a>
  <div class="actions">
    <SolidA
      href="https://github.com/logto-io/auth-wiki"
      target="_blank"
      rel="noopener"
    >
      <Icon name="github" />
      <span>GitHub</span>
    </SolidA>
    <ByLogto />
  </div>
</div>
<style>
  .topbar {
    position: relative;
    z-index: 100;
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px var(--content-padding);
    height: 70px;
  }
  .topbar a.home {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .topbar .actions {
    display: flex;
    gap: 12px;
  }
</style>
