---
import Logo from "./Logo.astro";
import ByLogto from "./ByLogto.astro";
---

<div class="topbar">
  <a href="/" aria-label="Go to homepage">
    <Logo />
  </a>
  <ByLogto />
</div>
<style>
  .topbar {
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px var(--content-padding);
    height: 70px;
  }
  .topbar a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
</style>
